<div class="container-fluid aller" style="background-color: transparent">
    <div class="row">
        <div class="headbar">
            <div class="menu-button red" (click)="close()"></div>
            <div class="menu-button orange"></div>
            <div class="menu-button green"></div>
            <div class="terminal-title">Htop skills</div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col image-zone">
                    <img class="avatar" src="../../assets/avatar.jpg">
                </div>
                <div class="datas col">
                    <div>JOUANNO Benjamin</div>
                    <div>Driver Licence B</div>
                    <div>4th year EPITECH Student</div>
                    <div>Web Developer</div>
                    <div>French & English speaker</div>
                    <div style="font-style: italic;">Benjamin.jouanno@epitech.eu</div>
                </div>
            </div>
            <div class="row">
                <div class="title">
                    --- more About me ---   
                </div>
                <div class="text">
                    <p>I'am a full stack Developer, I am programing most of the time web applicaiton and websites.
                    I have a big interest on IU and UX world and always want to learn more about those subjects.</p>
                </div>
                <div class="title">
                    --- my hobbies ---   
                </div>
                <div class="text">
                    <p>Since my childhood i have a big interestfor technolgies and computing sciences. I used to play video games and 
                        wanted to know about those conception. I'am also a big tv show and movies consumer. I love traveling and discover new places
                        arround the world.
                        I also like play sports, I did my high school as a student athlete in handBall section in toulouse and i always to discover new
                        sports (crossFit, american Football ...).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>