<div class="container-fluid aller" style="background-color: transparent">
    <div class="row">
        <div class="headbar">
            <div class="menu-button red" (click)="close()"></div>
            <div class="menu-button orange"></div>
            <div class="menu-button green"></div>
            <div class="terminal-title">Htop skills</div>
        </div>
        <div class="content row">
            <div class="col">
                <div class="heading">
                    <div class="values">Mot</div>
                    <div class="graph"> [<span class="red-text">|||</span><span
                            class="green-text">||||||||||||||||||||||||||||||||</span> 100%]</div>
                </div>
                <div class="heading">
                    <div class="values">Wor</div>
                    <div class="graph"> [<span class="green-text">|||||||</span><span
                            class="red-text">||||||||||||||||||||||||||||||</span> 95%]</div>
                </div>
                <div class="heading">
                    <div class="values">Spir</div>
                    <div class="graph"> [<span class="green-text">|||</span><span
                            class="orange-text">||||||||||</span><span class="red-text">||||||||||||||||||||||||</span>
                        85%]</div>
                </div>
            </div>
            <div class="col">
                <div class="infos">
                    <span class="blue-text">Cmpt Years:</span><span class="green-text"> 6;</span><span
                        class="blue-text"> PrjCt:</span><span class="green-text"> 7 running;</span>
                </div>
                <div class="infos">
                    <span class="blue-text">Lang:</span><span class="green-text"> 8;</span><span
                        class="blue-text"> Currt:</span><span class="green-text"> 5 running;</span>
                </div>
                <div class="infos">
                    <span class="blue-text">Os:</span><span class="green-text"> 3;</span><span
                        class="blue-text"> curOs:</span><span class="green-text"> MacOsX running;</span>
                </div>
            </div>
            <div class="separation">
                <div class="first-one">
                    <span class="sep-item col column">PID</span>
                    <span class="sep-item col column">Technology</span>
                    <span class="sep-item col column">Experience</span>
                    <span class="sep-item col column">Percentage</span>
                </div>
                <div class="second-one">
                    <span class="sep-item col column">18467</span>
                    <span class="sep-item col column">Angular 2+</span>
                    <span class="sep-item col column">3 years</span>
                    <span class="sep-item col column">75%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">839457</span>
                    <span class="sep-item col column">HTML5</span>
                    <span class="sep-item col column">6 years</span>
                    <span class="sep-item col column">80%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">872394</span>
                    <span class="sep-item col column">CSS3</span>
                    <span class="sep-item col column">6 years</span>
                    <span class="sep-item col column">75%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">839087</span>
                    <span class="sep-item col column">C</span>
                    <span class="sep-item col column">4 years</span>
                    <span class="sep-item col column">80%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">801565</span>
                    <span class="sep-item col column">C++</span>
                    <span class="sep-item col column">4 years</span>
                    <span class="sep-item col column">70%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">456278</span>
                    <span class="sep-item col column">C#</span>
                    <span class="sep-item col column">2 years</span>
                    <span class="sep-item col column">40%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">939263</span>
                    <span class="sep-item col column">JAVA</span>
                    <span class="sep-item col column">4 years</span>
                    <span class="sep-item col column">60%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">8745629</span>
                    <span class="sep-item col column">OBJc</span>
                    <span class="sep-item col column">1 years</span>
                    <span class="sep-item col column">50%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">3343271</span>
                    <span class="sep-item col column">Linux</span>
                    <span class="sep-item col column">6 years</span>
                    <span class="sep-item col column">90%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">781368</span>
                    <span class="sep-item col column">Windows</span>
                    <span class="sep-item col column">X years</span>
                    <span class="sep-item col column">99%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">133453</span>
                    <span class="sep-item col column">MacOsX</span>
                    <span class="sep-item col column">1years</span>
                    <span class="sep-item col column">70%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">839457</span>
                    <span class="sep-item col column">Photoshop</span>
                    <span class="sep-item col column">3 years</span>
                    <span class="sep-item col column">40%</span>
                </div>
                <div class="other-one">
                    <span class="sep-item col column">839436</span>
                    <span class="sep-item col column">AdobeXd</span>
                    <span class="sep-item col column">3 years</span>
                    <span class="sep-item col column">65%</span>
                </div>
            </div>
        </div>
    </div>
</div>